@import '../../functions/functions';
@import '../../mixins/mixins';
$allWidth : 1200px;
$smallFont : 12px;
$white: white;
$greenColor: rgb(0,136,66);
$topColor : rgb(247,249,248);
$fontColor: #727272;
$colorE0 : #e0e0e0;
$colorB4 : #b4c1a3;
$color153: rgb(153,153,153);
$imgheader : 'img/header-img.png';
$fontfamily: Arial,Verdana,"\5b8b\4f53";
body{
    font-family: $fontfamily;
    color: #444;
    word-break: break-all;
    word-wrap: break-word;
    font-size: $smallFont;
}
a,i{
    display: inline-block;
    cursor: pointer;
}
a{
    &:hover{
        color: $greenColor;
    }
}
/* 登录头部 */
.top{
    background: $colorE0;
    .container{
        width: $allWidth;
        @include marginCenter;
        height: 50px;
        padding: 15px 0 5px 0;
        div{
            position: relative;
            float: left;
            a{
                display: block;
                width: 145px;
                height: 50px;
                background: url('http://localhost:9000/css/img/logo.png') no-repeat;
            }
            .top-span{
                color: #008842;
                left: 240px;
                font: 28px/1 Microsoft YaHei;
                position: absolute;
                top: 6px;
                white-space: nowrap;
            }
        }
    }
}
/* 中间注册部分 */
.register{
    padding-top: 54px;
    padding-bottom: 30px;
    background: rgb(247,248,248);
    .wrap{
        position: relative;
        width: $allWidth;
        @include marginCenter;
        border: 1px solid #c4dfb1;
        background-color: #fff;
        padding: 40px 0 50px;
        margin-top: 10px;
        @include clearfix;
        .wrap-left{
            float: left;
            p{
                position: relative;
                line-height: 38px;
                margin-bottom: 29px;
                @include clearfix;
                font: 14px Arial,"Microsoft YaHei";
                .error{
                    line-height: 38px;
                    color: #f60000;
                    i{
                        background-position: -40px -200px;
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        vertical-align: middle;
                        margin-right: 9px;
                        background-image: url('http://localhost:9000/css/img/bg_login.png');
                    }
                }
                .input-name{
                    float: left;
                    display: inline-block;
                    width: 220px;
                    text-align: right;
                    padding-right: 20px;
                    line-height: 38px;
                }
                .input-img{
                    width: 147px;
                }
                .input-phone{
                    width: 260px;
                    padding-right: 30px;
                    background-position: 276px -30px;
                    background-image: url('http://localhost:9000/css/img/bg_input.png');
                    background-repeat: no-repeat;
                }
                .input-yzm{
                    width: 147px;
                }
                .input-password{
                    width: 260px;
                    padding-right: 30px;
                    background-position: 276px -70px;
                    background-image: url('http://localhost:9000/css/img/bg_input.png');
                    background-repeat: no-repeat;
                }
                .input-che{
                    margin-right: 9px;
                    height: 14px;
                    width: 14px;
                    margin-top: 3px;
                }
                input{
                    float: left;
                    margin-right: 20px;
                    border: 1px solid #c1c1c1;
                    background-color: #fff;
                    height: 38px;
                    padding-left: 14px;
                    width: 290px;
                    font: 14px/38px "Microsoft YaHei";
                }
                .yzm-text{
                    margin-left: -20px;
                    position: relative;
                    float: left;
                    height:38px;
                    width: 80px;
                    border: 1px solid #c1c1c1;
                    border-left: none;
                    text-align: center;
                    line-height: 38px;
                    font-size: 25px; 
                }
                .next{
                    float: left;
                    line-height: 38px;
                }
                .yzm{
                    display: inline-block;
                    width: 121px;
                    height: 38px;
                    text-align: center;
                    line-height: 38px;
                    background-color: #f7f7f7;
                    border: 1px solid #c1c1c1;
                    color: #008842;
                    margin-right: 20px;
                }
                .agree{
                    color: $greenColor;
                }
                .success{
                    background-color: grey;
                    display: inline-block;
                    height: 50px;
                    width: 306px;
                    text-align: center;
                    color: #fff;
                    font: 18px/50px "Microsoft YaHei";
                }
            }
        }
        .wrap-right{
            float: right;
            position: relative;
            height: 340px;
            width: 330px;
            padding-top: 50px;
            .right-img{
                position: absolute;
                left: -140px;
                top: 70px;
            }
        }
        .fixdiv{
            text-align: right;
            position: absolute;
            top: -27px;
            right: 0;
            font: 14px/1 "Microsoft YaHei";
            a{
                margin-right: 36px;
                color: #ef760a;
                text-decoration: underline;
            }
        }
    }
}
/* 最底部 */
.footer{
    background: rgb(247,248,248);
    zoom: 1;
    clear: both;
    position: relative;
    padding-bottom: 20px;
    border-top: 1px solid rgb(224,224,224);
    .footerin{
        width: $allWidth;
        margin: 85px auto 0;
        dl{
            width: 190px;
            float: left;
            margin-left: 50px;
            display: inline;
            dt{
                height: 23px;
                line-height: 23px;
                background: url('http://localhost:9000/css/img/footer_icon.png') no-repeat;
                font-size: 14px;
                text-indent: 40px
            }
            .d1{
                background-position: 0 0;
            }
            .d2{
                background-position: 0 -23px;
            }
            .d3{
                background-position: 0 -46px;
            }
            .d4{
                background-position: 0 -69px;
            }
            .d5{
                background-position: 0 -92px;
            }
            dd{
                border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                a{
                    &:hover{
                        color: $greenColor;
                        text-decoration: underline;
                    }
                    color: #575556;
                    line-height: 22px;
                }
            }
        }
        .service{
            clear: both;
            text-align: center;
            padding: 60px 0 20px;
            color: #008842;
            font-size: 14px;
            span{
                display: inline-block;
                padding: 0 10px;
            }
        }
        .copyright{
            clear: both;
            color: #717171;
            text-align: center;
            line-height: 22px;
            .copyimg{
                a{
                    display: inline-block;
                    position: relative;
                    height: 45px;
                    margin: 0 10px;
                    zoom: 1;
                    .i2{
                        height: 47px;
                    }
                    .i3{
                        height: 47px;
                    }
                    span{
                        font-size: 12px;
                        color: #001b75;
                        top: 25px;
                        left: 50px;
                        position: absolute;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}