<!-- 字符串模板一城市信息模块 -->
<script type='text/html' id='allCity'>
    <div class='headline'>
            <a>全国其它城市>></a>
            请根据您的收货地址选择
        </div>
        <div class='city-hot'>
            <span>
                <i></i>热门城市
            </span>
            <%for(var i=0;i< hot.length; i++){%>
                <a><%=hot[i].AreaName%></a>
            <%}%>
        </div>
        <div class='city-tab'>
            <span class='active'>ABCDE</span
            ><span>FGHIJ</span
            ><span>KLMNO</span
            ><span>PQRST</span
            ><span>UVWXYZ</span>
        </div>
        <div class='citylist activetwo'>
            <dl>
                <dt>A</dt>
                <dd>
                    <%for(var i=0; i< cityList1.A.length; i++){%>
                        <a><%=cityList1.A[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>B<dt>
                <dd>
                    <%for(var i=0; i< cityList1.B.length; i++){%>
                        <a><%=cityList1.B[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>C<dt>
                <dd>
                    <%for(var i=0; i< cityList1.C.length; i++){%>
                        <a><%=cityList1.C[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>D<dt>
                <dd>
                    <%for(var i=0; i< cityList1.D.length; i++){%>
                        <a><%=cityList1.D[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
        </div>
        <div class='citylist'>
            <dl>
                <dt>F</dt>
                <dd>
                    <%for(var i=0; i< cityList2.F.length; i++){%>
                        <a><%=cityList2.F[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>G<dt>
                <dd>
                    <%for(var i=0; i< cityList2.G.length; i++){%>
                        <a><%=cityList2.G[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>H<dt>
                <dd>
                    <%for(var i=0; i< cityList2.H.length; i++){%>
                        <a><%=cityList2.H[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>J<dt>
                <dd>
                    <%for(var i=0; i< cityList2.J.length; i++){%>
                        <a><%=cityList2.J[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
        </div>
        <div class='citylist'>
            <dl>
                <dt>K</dt>
                <dd>
                    <%for(var i=0; i< cityList3.K.length; i++){%>
                        <a><%=cityList3.K[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>L<dt>
                <dd>
                    <%for(var i=0; i< cityList3.L.length; i++){%>
                        <a><%=cityList3.L[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>M<dt>
                <dd>
                    <%for(var i=0; i< cityList3.M.length; i++){%>
                        <a><%=cityList3.M[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>N<dt>
                <dd>
                    <%for(var i=0; i< cityList3.N.length; i++){%>
                        <a><%=cityList3.N[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
        </div>
        <div class='citylist'>
            <dl>
                <dt>Q</dt>
                <dd>
                    <%for(var i=0; i< cityList4.Q.length; i++){%>
                        <a><%=cityList4.Q[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>R<dt>
                <dd>
                    <%for(var i=0; i< cityList4.R.length; i++){%>
                        <a><%=cityList4.R[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>S<dt>
                <dd>
                    <%for(var i=0; i< cityList4.S.length; i++){%>
                        <a><%=cityList4.S[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>T<dt>
                <dd>
                    <%for(var i=0; i< cityList4.T.length; i++){%>
                        <a><%=cityList4.T[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
        </div>
        <div class='citylist'>
            <dl>
                <dt>W</dt>
                <dd>
                    <%for(var i=0; i< cityList5.W.length; i++){%>
                        <a><%=cityList5.W[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>X<dt>
                <dd>
                    <%for(var i=0; i< cityList5.X.length; i++){%>
                        <a><%=cityList5.X[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>Y<dt>
                <dd>
                    <%for(var i=0; i< cityList5.Y.length; i++){%>
                        <a><%=cityList5.Y[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
            <dl>
                <dt>Z<dt>
                <dd>
                    <%for(var i=0; i< cityList5.Z.length; i++){%>
                        <a><%=cityList5.Z[i].AreaName%></a>
                    <%}%>
                </dd>
            </dl>
        </div>
</script> 