@import '../../functions/functions';
@import '../../mixins/mixins';
$allWidth : 1200px;
$smallFont : 12px;
$white: white;
$greenColor: rgb(0,136,66);
$topColor : rgb(247,249,248);
$fontColor: #727272;
$colorE0 : #e0e0e0;
$colorB4 : #b4c1a3;
$color153: rgb(153,153,153);
$imgheader : 'http://localhost:9000/css/img/header-img.png';
$fontfamily: Arial,Verdana,"\5b8b\4f53";
body{
    font-family: $fontfamily;
    color: #444;
    word-break: break-all;
    word-wrap: break-word;
    font-size: $smallFont;
    background: rgb(247,248,248);
}
a,i{
    display: inline-block;
    cursor: pointer;
}
a{
    &:hover{
        color: $greenColor;
    }
}
/* 顶部工具栏 */
.topmost{
    @include clearfix;
    line-height: 30px;
    height: 30px;
    background: $topColor;
    s{
        @include transform(0deg);
        @include transition(transform .2s ease-in 0s);
        position: absolute;
        top: 13px;
        right: 8px;
        width: 8px;
        height: 4px;
        background: url($imgheader) no-repeat 0 0;
    }
    .container{
        width: $allWidth;
        @include clearfix;
        @include marginCenter;
        .topmost-left{
            float: left;
            li{
                margin-right: 10px;
                float: left;
            }
            .li{
                position: relative;
                .city{
                    float: left;
                    color: $greenColor;
                    cursor: pointer;
                }
                .city-go{
                    float: left;
                    .city-name{
                        color: $greenColor;
                        display: block;
                        position: relative;
                        padding: 0 20px 5px 5px;
                        margin-top: 5px;
                        height: 20px;
                        line-height: 20px;
                        s{
                            top: 8px;
                        }
                    }
                    .hover{
                        background: $greenColor;
                        color: $white;
                    }
                    .sh{
                        background: url('http://localhost:9000/css/img/header-img.png') no-repeat -25px 0;
                        @include transform(180deg);
                    }
                }
                .city-con{
                    z-index: 700;
                    position: absolute;
                    top: 28px;
                    left: 0;
                    width: 482px;
                    border: 2px solid $greenColor;
                    background: $white;
                    .headline{
                        padding: 0 15px;
                        line-height: 30px;
                        background: rgb(237,237,237);
                        a{
                            font-family: simsun;
                            float: right;
                            color: $greenColor;
                        }
                    }
                    .city-hot{
                        line-height: 18px;
                        margin: 10px 15px;
                        span{
                            display: block;
                            margin-bottom: 5px;
                            font-weight: bold;
                            color: #666;
                            i{
                                display: inline-block;
                                vertical-align: middle;
                                width: 16px;
                                height: 16px;
                                margin-right: 5px;
                                background: url($imgheader) no-repeat;
                                background-position: -174px 0;
                            }
                        }
                        a{
                            margin: 0 5px;
                            padding: 3px 10px 3px 15px;
                            white-space: nowrap;
                        }
                    }
                    .city-tab{
                        color: $greenColor;
                        margin: 10px 0;
                        padding: 0 15px;
                        span{
                            display: inline-block;
                            width: 19%;
                            border: 1px solid $white;
                            border-bottom-color: $colorE0;
                            text-align: center;
                            cursor: pointer;
                        }
                        .active{
                            border-color: $colorE0;
                            border-bottom-color: $white;
                        }
                    }
                    .citylist{
                        display: none;
                        margin: 0 15px 15px;
                        dl{
                            display: block;
                            overflow: hidden;
                            line-height: 22px;
                            dt{
                                font: bold 12px/22px Arial,"Microsoft YaHei" ;
                                color: $greenColor;
                                float: left;
                                margin-right: 10px;
                                text-align: center;
                            }
                            dd{
                                overflow: hidden;
                                a{
                                    &:hover{
                                        color: $greenColor;
                                    }
                                    width: 18%;
                                    margin: 0 0 0 5px;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                    .activetwo{
                        display: block;
                    }
                }
            }
        }
        .topmost-right{
            float: right;
            color: #444;
            a:hover{
                color: $greenColor;
            } 
            li{
                position: relative;
                float: right;
                padding: 0 10px;
                text-align: center;
            }
            i{
                vertical-align: middle;
                width: 18px;
                height: 18px;
                margin-right: 5px;
                background: url($imgheader) no-repeat;
            }
            .TEL i{
                background-position: -86px 0;
            }
            .pay i{
                width: 22px;
                background-position: -147px 0;
            }
            .mobile{
                padding: 0px;
                i{
                    background-position: -64px 0;
                }
                a{
                    border: solid $topColor;
                    border-width: 0 1px; 
                    padding: 0 20px 0 10px;
                    position: relative;
                    z-index: 601;
                }
                .hover{
                    border-color: $colorB4;
                    background: $white;
                }
                .sh{
                    @include transform(180deg);
                }
                .bottom{
                    z-index: 600;
                    width: 125px;
                    padding: 10px;
                    line-height: 25px;
                }
            }
            .myyiguo{
                padding: 0px;
                i{
                    background-position: -40px 0;
                }
                .myyiguo-top{
                    a{
                        border: solid $topColor;
                        border-width: 0 1px;
                        padding: 0 20px 0 10px;
                        position: relative;
                        z-index: 601;
                    }
                    .hover{
                        border-color: $colorB4;
                        background: $white;
                    }
                    .sh{
                        @include transform(180deg);
                    }
                }
                .bottom{
                    z-index: 600;
                    width: 100px;
                    padding: 5px 12px;
                    text-align: left;
                    a{
                        &:hover{
                            color: $greenColor;
                        }
                        padding: 0;
                        display: block;
                        line-height: 25px;
                        color: $fontColor;
                        b{
                            margin-left: 10px;
                            padding: 0 5px;
                            background: $greenColor;
                            border-radius: 16px;
                            color: $white;
                        }
                    }
                }
            }
            .bottom{
                position: absolute;
                top: 29px;
                left: 0;
                border: 1px solid $colorB4;
                background: $white;
            }
        }
    }
}
/* 头部 */
.header{
    background: $colorE0;
    .header-container{
        width: $allWidth;
        @include marginCenter;
        height: 58px;
        padding: 15px 0 5px 0;
        /* 易果logo */
        .log{
            float: left;
            width: 280px;
            margin-right: 10px;
            a{
                display: block;
                width: 145px;
                height: 50px;
                background: url('http://localhost:9000/css/img/logo.png') no-repeat;
            }
        }
        /* 输入框部分 */
        .search{
            float: left;
            width: 528px;
            position: relative;
            .search-top{
                @include clearfix;
                .search-input{
                    float: left;
                    width: 425px;
                    height: 26px;
                    padding: 0 10px;
                    border: 1px solid $greenColor;
                    background: $colorE0;
                    vertical-align: middle;
                    font-family: $fontfamily;
                    font-size: $smallFont;
                    color: $color153;
                }
                .search-btn{
                    float: left;
                    display: block;
                    width: 81px;
                    line-height: 28px;
                    height: 28px;
                    font-size: 14px;
                    color: $white;
                    cursor: pointer;
                    background: $greenColor;
                    font-family: $fontfamily;
                }
            }
            .hide{
                display: none;
                width: 455px;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 27px;
                width: 445px;
                border: 1px solid #CCC;
                background: #fff;
                z-index: 99999;
                li{
                    overflow: hidden;
                    padding: 3px 5px;
                    line-height: 22px;
                    cursor: pointer;
                    font-weight: bold;
                    &:hover{
                        background: rgb(255,199,135);
                    }
                }
                .closethis{
                    border-top: 1px solid #efefef;
                    text-align: right;
                    font-weight: normal;
                }
            }
            .search-bottom{
                line-height: 30px;
                .hot{
                    color: $greenColor;
                }
                a{
                    margin-right: 5px;
                    color: $fontColor;
                }
            }
        }
        /* 购物车部分 */
        .shopping-cart{
            float: right;
            position: relative;
            dt{
                width: 170px;
                height: 28px;
                padding: 6px 0;
                line-height: 28px;
                text-align: center;
                font-size: 25px;
                border: 1px solid $greenColor;
                background: $white;
                cursor: pointer;
                a{
                    display: block;
                    color: $greenColor;
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        width: 28px;
                        height: 20px;
                        margin-right: 10px;
                        font-size: 12px;
                        padding: 0;
                        background: url($imgheader) no-repeat -112px 0;
                        b{
                            display: block;
                            width: 24px;
                            line-height: 12px;
                            text-align: center;
                            font-weight: bold;
                        }    
                    }
                }
            }
        }
    }
}
/* 左边栏菜单 */
.left-nav{
    z-index: 200;
    position: relative;    
    @include clearfix;
    .left-nav-container{
        width: $allWidth;
        @include marginCenter;
        @include clearfix;
        .left-all{
            float: left;
            width: 180px;
            height: 38px;
            position: relative;
            text-align: center;
            background: $greenColor;
            a{
                overflow: hidden;
                font: bold 15px/16px "Microsoft YaHei";
                color: $white;
                display: block;
                height: 16px;
                padding: 11px 0;
            }
        }
        .nav-items{
            overflow: hidden;
            float: left;
            width: 1020px;
            height: 37px;
            line-height: 37px;
            border-bottom: 1px solid #008842;
            li{
                float: left;
                width: 115px;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
            }
        }
        .left-other{
            position: absolute;
            top: 38px;
            height: 462px;
            background: rgba(255, 255, 255, 0.9);
            .item{
                h3{
                    font-size: 12px;
                    a{
                        overflow: hidden;
                        position: relative;
                        display: block;
                        width: 165px;
                        height: 24px;
                        padding: 9px 0 9px 15px;
                        font: normal 14px/24px "Microsoft YaHei";
                        i{
                            @include transition(all .3s ease-in);
                            overflow: hidden;
                            width: 24px;
                            height: 24px;
                            margin-right: 15px;
                            background: url('http://localhost:9000/css/img/floor_guide.png') no-repeat;
                            vertical-align: middle;
                        }
                        s{
                            position: absolute;
                            top: 7px;
                            right: 18px;
                            font-family: Arial;
                            text-decoration: none;
                        }
                    }
                    .current{
                        z-index: 78;
                        padding: 8px 0 8px 15px;
                        background: rgba(255, 255, 255, 0.95);
                        background: #fff \9;
                        border: 1px solid #bbb;
                        border-right: 0px;
                        i{
                            margin-left: 7px;
                        }
                    }
                }
                .sub-item{
                    display: none;
                    z-index: 3;
                    position: absolute;
                    top: -38px;
                    left: 180px;
                    width: 215px;
                    height: 464px;
                    padding: 17px 20px;
                    border: 1px solid #bbb;
                    background: rgba(255, 255, 255, 0.9);
                    h4{
                        margin-bottom: 10px;
                        font: normal 18px "Microsoft YaHei";
                        text-decoration: underline;
                        a{
                            color: $greenColor;
                        }
                    }
                    .sub-list{
                        a{
                            display: inline-block;
                            line-height: 25px;
                            margin-right: 30px;
                            color: #686868;
                            &:hover{
                                color: $greenColor;
                            }
                        }
                    }
                    .sub-img{
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }
        }
    }
}
/* 中间部分 */
.wrap{
    width: $allWidth;
    @include marginCenter;
    @include clearfix;
    .crunmbs{
        margin: 10px 0;
    }
    .wrap-center{
        @include clearfix;
        margin-bottom: 20px;
        .picture{
            position: relative;
            float: left;
            width: 500px;
            height: 600px;
            .picture-small{
                z-index: 1;
                overflow: hidden;
                position: relative;
                .picList{
                    padding-top: 10px;
                    width: 500px;
                    li{
                        float: left;
                        overflow: hidden;
                        height: 85px;
                        width: 85px;
                        border: 1px solid #bcbcbc;
                        margin-right: 16px;
                        cursor: pointer;
                        .smallimg{
                            width: 85px;
                            height: 85px;
                        }
                    }
                }
            }
            .picture-new{
                z-index: 100;
                position: absolute;
                left: 10px;
                top: 10px;
                img{
                    height: 46px;
                    width: 46px;
                }
            }
            .picture-big{
                width: 500px;
                height: 500px;
                overflow: hidden;
                .bigimg{
                    width: 500px;
                    height: 500px;
                }
            }
        }
        .picture-right{
            width: 680px;
            margin-left: 520px;
            .details-top{
                margin: 0 85px 20px 0;
                h1{
                    font: normal 26px "Microsoft YaHei";
                }
                p{
                    height: 40px;
                    margin-top: 5px;
                    color: #777;
                    font: normal 16px/20px "Microsoft YaHei"
                }
            }
            .details-bottom{
                height: 70px;
                padding: 10px 20px;
                background: #fff;
                position: relative;
                .details-price{
                    float: left;
                    height: 70px;
                    width: 423px;
                    .jiage{
                        width: 60px;
                        display: inline-block;
                    }
                    em{
                        padding: 0 5px;
                        font-size: 18px;
                        color: #ff0000;
                        font-style: normal;
                    }
                    strong{
                        color: #ff0000;
                        font-size: 22px;
                        font-weight: normal;
                    }
                    .more{
                        color: #999999;
                        border-top: 1px solid #e2e2e2;
                        margin-top: 10px;
                        padding-top: 10px;
                    }
                }
                .details-tel{
                    position: absolute;
                    right: 160px;
                    top: 5px;
                    p{
                        float: left;
                        margin-top: 53px;
                        margin-right: 10px;
                        i{
                            display: inline-block;
                            width: 8px;
                            height: 14px;
                            background: url('http://localhost:9000/css/img/icon-tel.png') no-repeat center;
                            margin-right: 5px;
                            vertical-align: top;
                        }
                        strong{
                            font-weight: normal;
                            color: #11b57c;
                            margin-left: 10px;
                        }
                    }
                    .code{
                        float: left;
                        width: 73px;
                        height: 73px;
                        padding: 3px 4px 4px 10px;
                        background: url('http://localhost:9000/css/img/bg-code.png') no-repeat;
                        img{
                            width: 73px;
                            height: 73px;
                        }
                    }
                }
                .details-review{
                    float: right;
                    text-align: center;
                    p{
                        line-height: 22px;
                        color: #999;
                        b{
                            color: #e8380d;
                            font-size: 18px;
                            font-weight: normal;
                            vertical-align: middle;
                        }
                        a{
                            &:hover{
                                color: $greenColor;
                            }
                            color: #999;
                            span{
                                padding: 0 5px;
                            }
                        }
                    }
                }
            } 
        }
        .picture-bottom{
            margin-top: 20px;
            .go{
                display: none;
                padding-left: 10px;
                color: #999;
                margin-bottom: 20px;
                b{
                    color: #008842;
                    font-weight: bold;
                }
                i{
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .left{
                float: left;
                width: 529px;
                padding-right: 20px;
                border-right: 1px solid #d9d9d9;
                .choose{
                    margin-bottom: 20px;
                    @include clearfix;
                    .dt{
                        line-height: 52px;
                        float: left;
                        width: 40px;
                        padding: 0 10px;
                    }
                    .dd{
                        float: left;
                        width: 468px;
                        .li{
                            float: left;
                            position: relative;
                            margin: 5px 10px 5px 0;
                            a{
                                position: relative;
                                float: left;
                                width: auto;
                                background-color: #fff;
                                white-space: nowrap;
                                text-align: center;
                                border: 1px solid #e2e2e2;
                                border-bottom: none;
                                text-decoration: none;
                                i{
                                    position: absolute;
                                }
                            }
                            .hot{
                                border: 1px solid #008842;
                                span{
                                    border-bottom: 1px solid #008842;
                                }
                                i{
                                    z-index: 1;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    width: 16px;
                                    height: 16px;
                                    overflow: hidden;
                                    text-indent: -99em;
                                    background: url('http://localhost:9000/css/img/product.png') no-repeat 0 0;
                                }
                            }
                            span{
                                display: block;
                                padding: 5px 12px 5px 9px;
                                border-bottom: 1px solid #e2e2e2;
                            }
                        }
                    }
                }
                .amount{
                    @include clearfix;
                    margin-bottom: 20px;
                    .dt{
                        line-height: 43px;
                        float: left;
                        width: 40px;
                        padding: 0 10px;
                    }
                    .dd{
                        float: left;
                        width: 468px;
                        .dd-left{
                            width: 76px;
                            position: relative;
                            overflow: hidden;
                            float: left;
                            button{
                                outline:none;
                                display: block;
                                width: 18px;
                                line-height: 20px;
                                text-align: center;
                                float: right;
                                position: relative;
                                border: 1px solid #e2e2e2;
                                background-color: white;
                                cursor: pointer;
                            }
                            .bn-{
                                top: 20px;
                                right: 18px;
                                border-top: none;
                            }
                            .bnadd{
                                border-bottom: 1px solid #e2e2e2;
                                height: 21px;
                            }
                            .input-num{
                                width: 39px;
                                height: 39px;
                                line-height: 41px;
                                font-size: 16px;
                                text-align: center;
                                -webkit-appearance: none;
                                border: 1px solid #e2e2e2;
                                border-right: none;
                            }
                        }    
                        .dd-right{
                            float: left;
                            width: 187px;
                            height: 43px;
                            margin-left: 10px;
                            a{
                                cursor: default;
                                background: #757575;
                                width: 187px;
                                height: 25px;
                                padding: 9px 0;
                                text-align: center;
                                font: normal 18px/25px "Microsoft YaHei";
                                color: #fff;
                                border-radius: 3px;
                                i{
                                    width: 28px;
                                    height: 25px;
                                    margin-right: 10px;
                                    vertical-align: bottom;
                                    background: url('http://localhost:9000/css/img/product.png') no-repeat -47px 0;
                                }
                            }
                        }
                    }
                }
            }
            .right{
                float: right;
                width: 120px;
                padding-left: 10px;
                color: #777;
                table{
                    border: none;
                    border-collapse: collapse;
                    border-spacing: 0;
                    tr{
                        th{
                            padding: 5px 0;
                            width: 65px;
                            font-weight: normal;
                            text-align: left;
                        }
                        td{
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .comment-left{
        @include clearfix;
        float: left;
        overflow: hidden;
        width: 255px;
        margin-right: 15px;
        .cleft-top{
            position: relative;
            margin-bottom: 20px;
            border: 1px solid #cde4c0;
            background: #fff;
            .neartime{
                height: 30px;
                padding: 0 10px;
                line-height: 30px;
                font-size: 12px;
                font-weight: bold;
                color: #fff;
                background: #008842;
                a{
                    float: right;
                    color: #fff;
                    font-weight: normal;
                }
            }
            .nearbottom{
                clear: both;
                position: relative;
                height: 70px;
                padding: 10px;
            }
        }
        .cleft-bottom{
            position: relative;
            margin-bottom: 20px;
            border: 1px solid #cde4c0;
            background: #fff;
            .c-love{
                height: 30px;
                padding: 0 10px;
                line-height: 30px;
                font-size: 12px;
                font-weight: bold;
                color: #fff;
                background: #008842;
            }
            .lovelist{
                padding: 0 10px;
                @include clearfix;
                .listone{
                    @include clearfix;
                    clear: both;
                    position: relative;
                    height: 70px;
                    padding: 10px 0;
                    border-bottom: 1px dashed #cdcdcd;
                }
            }
        }
        .img{
            position: relative;
            float: left;
            width: 68px;
            height: 68px;
            border: 1px solid #dfdfdf;
            img{
                height: 68px;
                width: 68px;
            }
        }
        .txt{
            float: left;
            width: 153px;
            margin-left: 10px;
            padding: 4px 0;
            line-height: 20px;
            strong{
                display: block;
                height: 40px;
                margin-bottom: 5px;
                color: #777;
                font-weight: normal;
            }
            span{
                font-size: 12px;
                color: #e8380d;
            }
        }
    }
    .comment-right{
        float: right;
        width: 930px;
        .hot-sale{
            margin-bottom: 25px;
            border: 1px solid #d4d4d4;
            background: #fff;
            .hot-top{
                padding: 0 25px;
                line-height: 35px;
                color: #008842;
                font-size: 14px;
                font-weight: bold;
            }
            .hot-bottom{
                @include clearfix;
                li{
                    float: left;
                    width: 135px;
                    padding: 10px 25px 25px 25px;
                    text-align: center;
                    .li-img{
                        margin-bottom: 10px;
                        img{
                            width: 135px;
                            height: 135px;
                        }
                    }
                    .li-name{
                        overflow: hidden;
                        height: 36px;
                        line-height: 18px;
                        margin-bottom: 7px;
                        a{
                            color: #777;
                        }
                    }
                    .li-price{
                        strong{
                            color: #e8380d;
                            padding-right: 15px;
                        }
                        del{
                            color: #aaa;
                        }
                    }
                }
            }
        }
        .product{
            @include clearfix;
            .product-top{
                position: relative;
                height: 40px;
                line-height: 40px;
                border: 1px solid #d4d4d4;
                background: #fff;
                li{
                    position: relative;
                    display: block;
                    float: left;
                    width: 130px;
                    margin-top: -1px;
                    text-align: center;
                    border-right: 1px solid #d4d4d4;
                    a{
                        display: block;
                        height: 36px;
                        padding-top: 4px;
                        line-height: 36px;
                        font-size: 12px;
                        b{
                            font-weight: normal;
                            color: #e8380d;
                            padding-left: 5px;
                        }
                    }
                }
                .active{
                    border-bottom: 2px solid #fff;
                    background: url('http://localhost:9000/css/img/product.png') no-repeat -33px -58px #fff;
                }
            }
            .product-bottom{
                @include clearfix;
                .topp{
                    width: 880px;
                    padding: 24px;
                }
                .product-txt{
                    margin-top: -1px;
                    margin-bottom: 20px;
                    border: 1px solid #d4d4d4;
                    background: #fff;
                    .txt-guige{
                        table{
                            width: 100%;
                            font-size: 14px;
                            margin: 0 0 20px 0;
                            border: 1px solid #d3e2ca;
                            border-collapse: collapse;
                            border-spacing: 0;
                            th{
                                background: #e7f5ee;
                                font-weight: normal;
                                width: 150px;
                                padding: 10px 10px 10px 20px;
                                text-align: left;
                                color: #666;
                                border: 1px solid #d3e2ca;
                                border-width: 1px 0;
                            }
                            td{
                                padding: 10px 20px;
                                color: #666;
                                border: 1px solid #d3e2ca;
                                border-width: 1px 0;
                            }
                        }
                    }
                    .txt-top{
                        height: 90px;
                        padding: 20px 0;
                        border-bottom: 1px solid #d4d4d4;
                        .score{
                            float: left;
                            width: 200px;
                            text-align: center;
                            border-right: 1px dashed #d4d4d4;
                            b{
                                font-weight: bold;
                                font-size: 36px;
                                color: #008842;
                                display: block;
                                text-align: center;
                                padding: 10px 0;
                                span{
                                    font-size: 12px;
                                    font-weight: normal;
                                    vertical-align: initial;
                                    color: #666;
                                }
                            }
                            strong{
                                color: #008842;
                            }
                        }
                        .percent{
                            float: left;
                            padding: 12px 110px 2px 110px;
                            border-right: 1px dashed #d4d4d4;
                            ul{
                                float: left;
                                margin-left: 10px;
                                li{
                                    width: 140px;
                                    height: 10px;
                                    background: #e4e4e4;
                                    margin-bottom: 15px;
                                    position: relative;    
                                    b{
                                        width: 35px;
                                        position: absolute;
                                        left: -35px;
                                        top: 0;
                                        font-weight: normal;
                                    }
                                    span{
                                        height: 10px;
                                        display: block;
                                        background: #008842;
                                        width: 50%;    
                                    }
                                    i{
                                        width: 35px;
                                        position: absolute;
                                        left: 150px;
                                        top: 0;
                                        font: normal 12px/10px Arial;
                                    }
                                }
                            }
                        }
                        .comment-btn{
                            float: left;
                            width: 280px;
                            padding: 8px 0 8px 75px;
                            a{
                                display: block;
                                width: 100px;
                                height: 26px;
                                margin: 10px 0;
                                line-height: 26px;
                                color: #fff;
                                text-align: center;
                                cursor: pointer;
                                border-radius: 3px;
                                background: #008842;
                            }
                            p{
                                color: #777;
                                font-size: 12px;
                            }
                        }
                    }
                    .txt-bottom{
                        padding: 20px;
                        @include clearfix;
                        .comment-top{
                            position: relative;
                            border-bottom: 1px solid #ebebeb;
                            @include clearfix;
                            .comment-tab{
                                float: left;
                                border-bottom: 0;
                                span{
                                    display: block;
                                    float: left;
                                    height: 30px;
                                    margin: 0 22px 0 0;
                                    padding: 0 5px;
                                    color: #777;
                                    border-bottom: 2px solid #fff;
                                    font: normal 14px/30px SimSun;
                                    background: #fff;
                                    cursor: pointer;

                                }
                                .on{
                                    color: #008842;
                                    border-color: #008842;
                                    position: relative;
                                }
                            }
                            .extra{
                                float: right;
                                line-height: 32px;
                                span{
                                    margin-left: 10px;
                                    select{
                                        outline: none;
                                    }
                                    input{
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        .comment-bottom{
                            .comment-one{
                                @include clearfix;
                                padding: 15px 0;
                                .one-user{
                                    font-size: 12px;
                                    width: 66px;
                                    float: left;
                                    padding: 0 30px 0 20px;
                                    text-align: center;
                                    img{
                                        width: 60px;
                                        height: 60px;
                                    }
                                    span{
                                        display: block;
                                        line-height: 18px;
                                        text-align: center;    
                                    }
                                    .name{
                                        margin-top: 5px;
                                    }
                                }
                                .one-com{
                                    overflow: inherit;
                                    float: left;
                                    width: 772px;
                                    .heading{
                                        height: 12px;
                                        line-height: 12px;
                                        padding: 10px 15px;
                                        background: #f7f7f7;
                                        .stars{
                                            div{
                                                float: left;
                                                margin-right: 8px;
                                                line-height: 12px;
                                            }
                                            .stars-bg{
                                                overflow: hidden;
                                                width: 70px;
                                                height: 12px;
                                                background: url('http://localhost:9000/css/img/stars.png') 0 -12px no-repeat;
                                                span{
                                                    display: block;
                                                    height: 17px;
                                                    background: url('http://localhost:9000/css/img/stars.png') no-repeat;
                                                }
                                            }
                                        }
                                        .stars-txt{
                                            float: left;
                                            margin-left: 20px;
                                            span{
                                                padding-right: 15px;
                                            }
                                        }
                                        .date{
                                            color: #777;
                                            float: right;
                                            font-size: 12px;
                                            span{
                                                margin-left: 20px;
                                            }
                                        }
                                        .comefrom{
                                            float: right;
                                            position: relative;
                                            margin-right: 20px;
                                            text-align: center;
                                            cursor: pointer;
                                            strong{
                                                color: #008842;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                    .reply{
                                        line-height: 22px;
                                        margin: 10px 0;
                                        padding: 0 15px;
                                    }
                                }
                            }
                        }
                        .paging{
                            margin-top: 40px;
                            clear: both;
                            float: right;
                            a{
                                display: block;
                                float: left;
                                height: 22px;
                                margin: 0 3px;
                                overflow: hidden;
                                background: #fff;
                                border: 1px solid #ccc;
                                padding: 0 7px;
                                line-height: 22px;
                                vertical-align: middle;
                            }
                            .this{
                                color: #008842;
                                border: 1px solid #008842;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* 侧边悬浮 */
.sidebar{
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 47%;
    /* 这里设置如果浏览器缩小的话 悬浮不会跟着动，不会影响用户视野 */
    margin-right: -625px;
    width: 56px;
    .sidebar-top{
        overflow: hidden;
        display: block;
        width: 50px;
        height: 42px;
        margin-bottom: 10px;
        background: url('http://localhost:9000/css/img/sidebar.png') no-repeat left top;
        background-position: 0 -46px;
        &:hover{
            background-position: -56px -46px;
        }
    }
    .sidebar-bottom{
        overflow: hidden;
        display: none;
        width: 50px;
        height: 42px;
        margin-bottom: 10px;
        background: url('http://localhost:9000/css/img/sidebar.png') no-repeat left top;
        &:hover{
            background-position: -56px 0;
        }
    }
}
/* 最底部 */
.footer{
    zoom: 1;
    clear: both;
    position: relative;
    padding-bottom: 20px;
    border-top: 1px solid #e0e0e0;
    .footerin{
        width: $allWidth;
        margin: 50px auto 0;
        dl{
            width: 190px;
            float: left;
            margin-left: 50px;
            display: inline;
            dt{
                height: 23px;
                line-height: 23px;
                background: url('http://localhost:9000/css/img/footer_icon.png') no-repeat;
                font-size: 14px;
                text-indent: 40px
            }
            .d1{
                background-position: 0 0;
            }
            .d2{
                background-position: 0 -23px;
            }
            .d3{
                background-position: 0 -46px;
            }
            .d4{
                background-position: 0 -69px;
            }
            .d5{
                background-position: 0 -92px;
            }
            dd{
                border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                a{
                    &:hover{
                        color: $greenColor;
                        text-decoration: underline;
                    }
                    color: #575556;
                    line-height: 22px;
                }
            }
        }
        .service{
            clear: both;
            text-align: center;
            padding: 60px 0 20px;
            color: #008842;
            font-size: 14px;
            span{
                display: inline-block;
                padding: 0 10px;
            }
        }
        .copyright{
            clear: both;
            color: #717171;
            text-align: center;
            line-height: 22px;
            .copyimg{
                a{
                    display: inline-block;
                    position: relative;
                    margin: 0 10px;
                    zoom: 1;
                    vertical-align: middle;
                    .i2{
                        height: 47px;
                    }
                    .i3{
                        width: 47px;
                        height: 47px;
                    }
                    .i4{
                        float: left;
                    }
                    span{
                        float: left;
                        height: 20px;
                        line-height: 20px;
                        margin: 0px 0px 0px 5px;
                        color: #939393;
                    }
                }
            }
        }
    }
}
/* 底部灰色栏 */
.bottom-top{
    background: #e0e0e0;
    margin-top: 50px;
    padding: 30px 0;
    @include clearfix;
    .bottom-wrap{
        width: $allWidth;
        @include marginCenter;
        li{
            float: left;
            width: 190px;
            height: 42px;
            margin-left: 55px;
            padding-left: 55px;
            background: url('http://localhost:9000/css/img/footer_service_icon.png') no-repeat left top;
            b{
                display: block;
                padding-left: 15px;
                color: #007f4d;
                font: normal 18px/25px "Microsoft YaHei";
                border-left: 1px solid #a6a6a6;
            }
            span{
                display: block;
                padding-left: 15px;
                border-left: 1px solid #a6a6a6;
            }
        }
        .s1{
            background-position: 0 0;
        }
        .s2{
            background-position: 0 -42px;
        }
        .s3{
            background-position: 0 -84px;
        }
        .s4{
            background-position: 0 -126px;
        }
    }
}